.light-background {
  background-color: $white !default;
  #{textElements()} {
    color: $text-color-dark;
  }
}
.dark-background {
  background-color: $dark-gray !default;
  #{textElements()} {
    color: $text-color-light;
  }
}
