.x-colophon {
  // Top Footer
  &.top {
    background-color: $footer-top-color;
  }
  // Bottom Footer
  &.bottom {
    background-color: $footer-bottom-color;
  }
  .widget a:hover, &.bottom .x-nav a:hover, &.bottom .x-colophon-content a:hover {
    color: $navbar-text-hover-color;
  }
}
