input.wpcf7-submit, input[type=submit], .x-btn {

  @if $input-hollow == true {
    color: $input-color;
    background-color: transparent;
    border-color: $input-color;
    border-width: $border-width;
    &:hover {
      background-color: $input-color;
      border-color: $input-color;
      color: white;
    }
  } @else {
    color: white;
    background-color: $input-color;
    border: none;
    &:hover {
      background-color: $input-active-color;
    }
  }
}
