.masthead {
  @if $navbar-link-style == 'underline' {
    .x-navbar .desktop .x-nav {
       > .x-active > a,
       > li > a:hover,
      > .current-menu-item > a {
        box-shadow: 0 $navbar-link-accent-width 0 0 $navbar-link-active-color;
      }

      > li > a {
        height: $navbar-height - $navbar-link-accent-width;
      }
    }

    .x-navbar.x-navbar-fixed-top .desktop .x-nav > li > a {
      height: $navbar-fixed-height - $navbar-link-accent-width;
    }

    &.masthead-inline .desktop .x-nav > li:last-child > a {
      padding-right: $navbar-text-spacing !important;
    }
  }

  @elseif $navbar-link-style == 'fill' {
    .x-navbar .desktop .x-nav {
       > .x-active > a,
       > li > a:hover,
      > .current-menu-item > a {
        box-shadow: none;
        background-color: $navbar-link-active-color;
      }

      > li > a {
        height: $navbar-height;
      }
    }

    &.masthead-inline .desktop .x-nav > li:last-child > a {
      padding-right: $navbar-text-spacing !important;
    }
  }

  @elseif $navbar-link-style == 'border' or $navbar-link-style == 'rectangle' or $navbar-link-style == 'pill' or $navbar-link-style == 'pill-border' {
    .x-navbar .desktop .x-nav {
       > .x-active > a,
       > li > a:hover,
      > .current-menu-item > a {
        // line-height: 30px !important;
        border-color: $navbar-link-active-color;

        @if $navbar-link-style == 'rectangle' or $navbar-link-style == 'pill' {
          background-color: $navbar-link-active-color;
        }
      }

      > li > a {
        border: $navbar-link-accent-width solid transparent;
        margin: ($navbar-height - ($navbar-text-font-size + (($navbar-height / 6) * 2) + ($navbar-link-accent-width * 2))) / 2 ($navbar-text-spacing / 2);
        padding: $navbar-height / 6 !important;
        height: auto;

        @if $navbar-link-style == 'pill' or $navbar-link-style == 'pill-border' {
          border-radius: 30px;
        }

        span {
          padding: 0;
        }
      }
    }

    .x-navbar.x-navbar-fixed-top .desktop .x-nav > li > a {
      margin: ($navbar-fixed-height - ($navbar-text-font-size + (($navbar-fixed-height / 6) * 2) + ($navbar-link-accent-width * 2))) / 2 ($navbar-text-spacing / 2);
      padding: $navbar-fixed-height / 6 !important;
      height: auto !important;
    }
  }
  // End if statements

  .x-navbar, .x-navbar .sub-menu {
    background-color: $navbar-color !important;
  }

  .x-navbar-inner {
    min-height: $navbar-height;
  }

  .x-navbar .x-nav-wrap .x-nav > li > a {
    font-family: $navbar-text-font;
    letter-spacing: 0;
    text-transform: $navbar-text-transform;
  }

  .x-brand {
    margin-top: ($navbar-height - $navbar-brand-height) / 2;

    @if $navbar-brand-image == 'false' {
      &.text {
        font-size: $navbar-brand-height;
      }
    }
    @else {
      &.img {
        height: $navbar-brand-height;
      }
    }
  }

  .x-navbar .desktop .x-nav > li {
    .sub-menu {
      top: $navbar-height;
    }

    > a {
      padding-top: $navbar-height / 2.4;
      font-size: $navbar-text-font-size;
      font-family: $navbar-text-font;
      // &:not(.x-btn-navbar-woocommerce) {
      //   padding-left: $navbar-text-spacing;
      //   padding-right: $navbar-text-spacing;
      // }
    }
  }
  @if $navbar-height != $navbar-fixed-height {
    .x-brand,
    .x-logobar,
    .x-navbar,
    .x-navbar .desktop .x-nav > li > a,
    .x-navbar .sub-menu,
    .x-navbar-fixed-top-active .x-navbar-wrap,
    .x-navbar-inner {
      @include fast-transition;
    }
  }
  // If Fixed or if color is different
  @if $navbar-height != $navbar-fixed-height or $navbar-color != $navbar-fixed-color {
    .x-navbar.x-navbar-fixed-top {
      @if $navbar-height != $navbar-fixed-height {  // If Fixed
        .x-navbar-inner {
          min-height: $navbar-fixed-height;
        }

        .x-brand {
          margin-top: ($navbar-fixed-height - $navbar-brand-height) / 2;
        }

        .desktop .x-nav > li {
          .sub-menu {
            top: $navbar-fixed-height;
          }

          ul {
            top: $navbar-fixed-height;
          }

          > a {
            padding-top: $navbar-fixed-height / 2 - ($navbar-text-font-size / 2);

            @if $navbar-link-style == 'underline' {
              height: $navbar-fixed-height - $navbar-link-accent-width;
            }
            @else {
              height: $navbar-fixed-height;
            }
          }
        }
      }
      @if $navbar-color != $navbar-fixed-color { // If color is different
        &,
        .sub-menu,
        .x-logobar {
          background-color: $navbar-fixed-color !important;
        }
      }
    }
  }
}
