.button:focus,
.x-btn:focus,
[type="submit"]:focus,
a:focus,
input[type="checkbox"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="submit"]:focus,
select:focus {
  outline: none !important;
  outline: none !important;
  outline-offset: 0 !important;
}
