// Colors
$primary-color: #e55148;
$secondary-color: desaturate(darken($primary-color, 20%), 10%);

$black: #000;
$dark-gray: #222;
$gray: #333;
$light-gray: #ccc;
$white: #fff;

// Text
$heading-font: "Montserrat", sans-serif;
$body-font: "Roboto Condensed", sans-serif;
$text-dark: $black;
$text-light: white;
$line-height: 1.8;

// Borders
$border-color: $light-gray;
$border-width: 4px;

// Sections
$section-padding: 60px !important;

// Slanted edges
$deg: 1.5;

//Inputs
$input-hollow: true;
$input-color: $primary-color;

// Navbar
$navbar-color: $secondary-color;
$navbar-fixed-color: $primary-color;

$navbar-height: 120px;
$navbar-fixed-height: 60px;

$navbar-text-font-size: 20px;
$navbar-text-font: $body-font;
$navbar-text-hover-color: $white;
$navbar-text-color: darken($navbar-text-hover-color, 20%);
$navbar-text-transform: none;
$navbar-text-spacing: 20px; // Horizontal padding of list items

$navbar-link-style: 'underline'; // Underline | Fill | Border | Rectangle | Pill | Pill-border
$navbar-link-accent-width: 4px;
$navbar-link-active-color: lighten($navbar-color, 20%);

$navbar-brand-image: false;
$navbar-brand-height: 42px;
$navbar-brand-adjustment: 4px; // Optional extra shift of brand margin

// Footer
$footer-top-color: $gray;
$footer-bottom-color: $secondary-color;

$footer-top-padding: 5%;
$footer-bottom-padding: 35px;

// X overrides
$accentColor: $primary-color;
$linkColor: $primary-color;
$linkColorHover: $secondary-color;
$sansFontFamily: $body-font;
$altFontFamily: $heading-font;
$navbarHeight: $navbar-height;
$navbarFontSize: $navbar-text-font-size;
$navbarBackground: $navbar-color;
$navbarLinkColor: $navbar-text-color;
$navbarLinkColorHover: $navbar-text-hover-color;
$navbarLinkColorActive: $navbar-text-hover-color;
